In [38]:
# This is the beginning of the Project "Pymaceuticals"
# Initial Import
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv
import warnings
warnings.filterwarnings('ignore')

In [39]:
# Creating the path to the file
clinicaltrial = os.path.join("data/clinicaltrial.csv")
mousedrug = os.path.join("data/mousedrug.csv")

In [40]:
# First visuals of the data using Pandas
dataframe_ct = pd.read_csv("data/clinicaltrial.csv")
dataframe_ct.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [41]:
dataframe_md = pd.read_csv("data/mousedrug.csv")
dataframe_md.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [42]:
# Combine the dataframes
dataframe = pd.merge(dataframe_ct, dataframe_md, on="Mouse ID",how="left")
dataframe.head(10)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril
5     h246          0                45.0                 0   Ketapril
6     p189          0                45.0                 0   Ketapril
7     n923          0                45.0                 0   Ketapril
8     q119          0                45.0                 0   Ketapril
9     f993          0                45.0                 0   Naftisol

In [43]:
# Creating a scatter plot that shows how the tumor volume changes over time for each treatment
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
group = dataframe.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"]
averagedf = group.mean()

# New function learned = "reset.index" resets the list into a dataframe
averagedf = averagedf.reset_index()
averagedf.head(10)

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325
5  Capomulin         25           39.939528
6  Capomulin         30           38.769339
7  Capomulin         35           37.816839
8  Capomulin         40           36.958001
9  Capomulin         45           36.236114

In [44]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sterrors = group.sem()
sterrors.head()

Drug       Timepoint
Capomulin  0            0.000000
           5            0.448593
           10           0.702684
           15           0.838617
           20           0.909731
Name: Tumor Volume (mm3), dtype: float64

In [45]:
sterrors = sterrors.reset_index()
sterrors.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [46]:
# New Function Learned = ".pivot" function allows you to choose a dataframe's index, columns, and values
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

dataframeX = averagedf.pivot(index = "Timepoint", columns="Drug", values="Tumor Volume (mm3)")
dataframeX.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [ ]:
# Generating the plot